@font-face {
    font-family: 'B Koodak';
    src: url("../fonts/BKoodkBd.ttf");
}
@font-face {
    font-family: 'roya';
    src: url("../fonts/roya.ttf");
}    

@font-face
{
    font-family: 'BYekan';
    src: url("../fonts/BYekan.ttf");
}


body
{
     font-family:'roya','B Koodak','BYekan' !important;  
    direction: rtl;
    background-color: white;
    font-size: 15px !important;
}
.rightPanel
{
    float: right;
    width: 14%;
    height: 100%;
    background-color: black;
    

}
.navbar{
    border-radius: 0px;
    margin: 0;
}
#mainPanel
{

    min-height: 900px;
   // background-image: linear-gradient(rgba(38,119,159,.02),rgba(29,86,115,.02));
  //  background-image: url("../imc/dark-aurora-background.jpg");
    width: 86%;
    height: 100%;
    padding-right: 20px;
    line-height: 18px;
    display: block;
    background-color:white;
    float: left;
    padding-top: 5px;
}


#x:after {
  content:"*";
  color:red;
}