@font-face {
    font-family: 'Nassim';
    src: url("../fonts/BNazanin.ttf");
}

@font-face {
    font-family: 'B Koodak';
    src: url("../fonts/BKoodkBd.ttf");
}
@font-face {
    font-family: 'roya';
    src: url("../fonts/roya.ttf");
}    

@font-face
{
    font-family: 'BYekan';
    src: url("../fonts/BYekan.ttf");
}


body
{
    font-family:'roya','B Koodak','BYekan' !important;  
    direction: rtl;
    background-color: white;
    font-size: 15px !important;
}
.rightPanel
{
    float: right;
    width: 14%;
    height: 100%;
   // background-color: black;


}
.navbar{
    border-radius: 0px;
    margin: 0;
}
#mainPanel
{

    min-height: 900px;
    // background-image: linear-gradient(rgba(38,119,159,.02),rgba(29,86,115,.02));
    //  background-image: url("../imc/dark-aurora-background.jpg");
    width: 85%;
    height: 100%;
    //padding-right: 20px;
    line-height: 18px;
    display: block;
    background-color:white;
    float: left;
    padding-top: 5px;
}

.elm>p:before {
      content: '» ';
 
}

.require>p:after {
    content:"* ";
    color:red;
}


.table>tbody>tr>td
{
    border:0px;
}

.easy-autocomplete-container ul
{
    position: absolute;
    list-style: none;
    background-color: white;
    opacity:0.95;
    direction: ltr;
    line-height: 30px;
    border: 1px solid rgb(239, 229, 229);
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.easy-autocomplete-container ul:hover
{
    opacity:1;
    cursor: pointer;

}


.easy-autocomplete-container ul li:hover
{
    transform: scale(1.1);

}

.mus
{
   direction: rtl;
  //background-color: rgb(237, 237, 237);
  width: 300px;
  height: 200px;
  /* max-width: 200px; */
  max-height: 200px;
  border: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: scroll;
  //border: 0;
  padding: 5px;
}
.mus >label > input
{
      margin-left: 7px;
}
#mainPanel .btn-default {
    color: #FFF;
    background-color: #313439;
    border-color: #ccc;
    min-width: 150px;
}

.easy-autocomplete
{
    width:100% !important;
}

.listx thead
{
    background: rgb(73, 80, 90);
    color: whitesmoke;
    text-align: center;

}

.listx thead tr td
{
    border : 1px solid white;

}
.listx tbody tr
{
    height: 10px;
    font-size:15px;
}

.listx tbody tr td
{
    padding: 0px;
    vertical-align: middle; 
    border : 1px solid white;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
      min-width: 100px;
    //width:150px;
}

.listx tfoot
{
    background-color: rgb(245, 245, 245);
}

.searchBox
{
background-color: whitesmoke;
    border-top: 1px solid rgb(221, 221, 221);
  
}
.searchBox > ul > li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
   // margin-bottom: 10px; 
}
.searchBox ul{
     list-style: none;
}
.searchBox .label{
    display: inline-table;
  width: 70px;
  white-space: nowrap;
  color:black;
  float: right;
    font-weight: initial;
}



.searchBox .form-control{
    margin-bottom: 5px;
    //max-width: 300px;
}
.searchBox .btn{
    margin-top: 15px;
    width: 200px;
    background-color: rgb(121, 123, 126);
}
.listPage
{
    width: 50px;
}

.glyphicon
{
    float: left;
   // margin-right: 10px;
}
#addButton{
    float: right;
}
#editButton{
    float: left;
}
#cancelButton{
    float: left;
}

.navigation
{
    display: flex;
}
#listPage
{
    float: right;
    border: 0px;
    text-align: -webkit-center;
    /* background-color: rgb(121, 123, 126); */
    color: rgb(3, 3, 3);
    /* font-size: 13px; */
    text-shadow: 0px 0px 1px white;
    line-height: 15px;
    margin-top: -5px;
    text-decoration: underline;
}
#resultCount
{

    padding-left: 10px;
    margin-left: 10px;
}
.navx{
    float: right;
}

.glyphicon-remove-circle
{
    float: none;
    clear: both !important;
}
.glyphicon-edit
{
    margin-right: 10px;
   // float: none;
    clear: both !important;
}

.glyphicon-remove-circle:hover , .glyphicon-edit:hover
{
    color: rgb(207, 47, 114);
}


.glyphicon:hover
{
    cursor: pointer;
}

.navx
{
    width: 40px;
    height: 25px;
    //background-color:white;;
    font-size: 17px;
    text-align: -webkit-center;
    vertical-align: -webkit-baseline-middle;
    padding: 4px;
    color: black;
    transition: 0.2s ;
    -webkit-transition: 0.2s ;
    -moz-transition: 0.2s ;
}

.navx:hover,.glyphicon-repeat:hover
{

  //  background-color:silver;
    //border:1px solid white;
    color: rgb(28, 182, 218);

}


.bootstrap-dialog-footer-buttons button
{
    margin-right: 13px;
    min-width:100px;
}
.safhe
{
    float: right;
    padding-right: 10px;
    margin-right: 10px;
}
#cont
{
      //margin-bottom: 70px;
}

.addButton,.editButton,.cancelButton{
    margin-top:100px;
   //   color: white;
  //background-color: rgb(34, 34, 34);
    margin-bottom: 10px;
      width: 150px;
        border-radius: 0;
        margin-right:-1px;
}

#listx td:first-child,#listx td:nth-child(2)
{
    width:50px !important;
    text-align: center;
    min-width: 50px;
    font-weight: bold
}

#eac-container-username ul
{
    display: none;
}

.glyphicon-remove
{
      font-size: 10px;
  float: right;

  margin-right: -13px;
  margin-top: -5px;
  margin-left: 10px;
}

#TabIndex > li
{
    min-width: 100px;
      text-align: center;
}
#TabIndex
{
    margin-bottom: 15px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.glyphicon-remove:hover
{
    color:red;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
    color:white;
    background-color: black;
}

.form-control{
    color: black;
}

.navbar-right{
    padding-right: 0;
}

.navbar-inverse
{
    border:0;
}

.uploadButton
{
  width: 120px;
  float: right;
  margin-left: 10px;
  background-color: rgb(123, 118, 118);
  color: whitesmoke;
  padding: 0;
  height: 35px;
      border:0;

}
.uploadButton:hover
{
  background-color: rgb(100, 100, 100);
  color: whitesmoke;
}
.uploadButton:focus{
    color:black;
    border:0;
}

.waitGif{
  background:  url('http://localhost/bCodeIgniter/galleries/gif/ajax_loader_2.gif') no-repeat;
  background-size: 110% 48px;
  background-position-y: -7px;
  background-position-x: -5px;
  color:black;
}
.uploadButton > i
{
      margin-left: 7px;
        color: black;
}
.imgUploadLink
{
  float: right;
  display: block;
  width: 100px;
  background-color: rgb(231, 230, 230);
  color: rgb(200, 23, 23);
}
.imgUploadLink a
{
    float: left;
    color:black;
}
.imgUploadLink .deleteFile
{
    float: right;
     color:black;
}
.fileUploader{
      display: inline-block;
  //border: 1px solid red;
  //height: 150px;
  width: 150px;
}
.imageHolder{
     display: block;
       background-color: white !important;
}

input[type=number] {
    -moz-appearance: textfield;
}
.autoComplete ,.fileUploader,.datePick
{
    width: 320px;
}
.autoComplete ul
{
  position: absolute;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(229, 229, 229);
  width: 300px;
  /* padding: 10px; */
  display: grid;
  /* display: table-footer-group; */
  max-height: 150px;
  overflow-y: scroll;
  float: right;
  z-index: 55;
  list-style: none;
  padding-right: 0;
  padding-top: 10px;
  box-shadow: 0px 15px 10px rgb(121, 123, 126);
}
.autoComplete ul li:hover
{
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}



.datePicker{
      font-size: 17px;
}

.form-control{
   // width:300px !important;
   
}





.container::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

.container::-webkit-scrollbar-corner {
  background: transparent;
}
.container::-webkit-scrollbar {
  /* background: rgb(239, 239, 239); */
  /* overflow: visible; */
  width: 13px;
}
.container::-webkit-scrollbar-thumb,.container::-webkit-scrollbar-button {
  background-color: #DDD;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border: solid #fff;
}

.firstRow{
   // display: none;
   visibility: hidden;
}

.detail {
    margin-right: 15px;

    background-color : rgb(240, 240, 240);
      border: 1px solid rgb(182, 182, 182);

}
.detail thead {

        text-align: center;
}
.detail tr >td:not(:first-child){
    width: 320px;
}

.elm{
 float: right;
 // width: 300px;// intrinsic;
}
.blk{
     float: right;
   width: intrinsic;
}
.mainForm .blk,.mainForm .elm{
       margin-bottom:20px;
}
.detail .elm{
     margin-bottom:5px;
      margin-top:5px;
}
.detail thead{
   // display: table-caption;
      margin-bottom:10px;
  background-color: rgb(73, 80, 90);
  color: whitesmoke;
  font-size: 15px;

}




#cont .blk,#cont .elm{
     margin-right:10px;
       margin-left: 10px;
}
.small {
  width: 100px !important;
}
.small > * {
  width: 100px !important;
}
.medium{
      width: 200px !important;
}

.large {
      width: 430px !important;
}

.large > *{
      width: 430px !important;
}



.datePick,.autoComplete { 
    position: relative; 
}

/* style icon */
.datePick .glyphicon,.autoComplete .glyphicon{
  position: absolute;
  padding: 10px;
  pointer-events: none;
  left:  0px;
    top: 31px;
}

.detail .datePick .glyphicon,.detail .autoComplete .glyphicon{
    top: 0;
}
.searchBox .datePick .glyphicon,.searchBox .autoComplete .glyphicon{
    top: 0;
}

.clear{
    clear: both;
}

.elm > p ,.elm span{
  background-color: rgba(239, 239, 239, 0.50);
  color: rgb(9, 48, 0);

}
.elm > span{
    background-color: rgba(239, 239, 239, 0.50);
  color: rgb(9, 48, 0);
margin-right:8px;
}
.detail .glyphicon
{
      margin-right: 10px;
       //margin-left: 10px;
}

.searchBox .elm  {
    display: flex;
}

.searchButton{
    border-radius: 0;
}

.comboSelect>.form-control,.selectBox>.form-control {
    padding: 0;
}


.checkBox,.fileUploader, {
    width:150px;
}
.editor {
    width: intrinsic;
}

select {
    width:300px !important;
}

.textBox,.autoComplete,.comboSelect  {
    width: 300px;
}

.buttonContainer{
     width: 1250px;  display: flex;
}